<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="top">
        <div class="title"><h1>Movies SQLAlchemy Library</h1></div>
      </div>
      <div class="content">
        <div class="card">

          <form action="{{ url_for('edit_rating') }}" method="post">
            <div class="form-control">
              <p>Movie Name: {{ movie.title }}</p>
              <p>Current Rating: {{ movie.rating }}</p>
              <input hidden="hidden" name="id" value="{{ movie.id }}" />
              <input type="text" name="rating" placeholder="New rating" />
              <button type="submit">Edit Rating</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <footer></footer>
</html>
